<Card title="Fleamarkets to date">
  <table class="table is-fullwidth">
    <thead>
      <th>Flea Market Name</th>
      <th>Category</th>
      <th>Country</th>
    </thead>
    <tbody>
      {{#each fleamarkets}}
      <tr>
        <td>
          {{marketname}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{country}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</Card>